@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*
Grijs #899CA0
Donker groen #1C2B32
*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 5em;
}

p {
    padding: 20px;
    font-size: 16px;
}

a {
    color: #899CA0;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/

.header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-in-header {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: #1C2B32;
    padding-bottom: 300px
}

.input-availability {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border-radius: 24px 0 0 24px;
    border: 2px solid #1C2B32;
    background: transparent;
}

.button-availability {
    font-family: 'Poppins', sans-serif;
    padding: 12px;
    border-radius: 0 24px 24px 0;
    margin: -8px;
    background-color: #1C2B32;
    color: #fff;
    border: none;
}

/*///////////// 3.2 Testimonial /////////////*/

.main-element {
    max-width: 1000px;
    margin: auto;
}

.testimonial {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 8px;
    width: 100%;
    position: relative;
}

.name-testimonial {
    font-style: italic;
    display: inline-block;
    font-size: 16px;
}

.pic-testimonial {
    width: 44px;
    border-radius: 50%;
    margin-left: 20px;
    vertical-align: middle;
}

.quote-icon {
    position: absolute;
    top: 66px;
    left: 20px;
    width: 30px;
}

/*///////////// 3.3 Support /////////////*/


.callcenter-picture {
    border-radius: 8px;
    width: 100%;
}

.contact-button {
    font-family: 'Poppins', sans-serif;
    padding: 16px 20px;
    color: #fff;
    background-color: #1C2B32;
    border-radius: 26px;
    margin-left: 20px;
}


/*///////////// 3.4 Faq /////////////*/

details > summary {
    padding: 10px;
}

details > p {
    background-color: #899CA0;
    border-radius: 8px;
    color: #fff;
    margin: 20px;
}

.veelgestelde-vragen:hover {
    cursor: pointer;
}

.section-veelgestelde-vragen {
    margin-bottom: 40px;
}

/*///////////// 3.5 Footer /////////////*/

.footer-element {
    background-color: #1C2B32;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 30px;
}